* {
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0px;
}
.topnav {
  position: fixed;
  background-color: #17252a;
  overflow: hidden;
  justify-content: space-between;
  display: flex;
  align-items: center;
  transition: all 2s ease-in-out;
}
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #ffef00;
  color: rgb(0, 0, 0);
}
.fa-search {
  padding: 30px;
}
.img-container {
  width: 100vw;
  height: 70vh;
}
.slideshow-img {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
}
#youtube {
  padding: 10px;
}
p {
  font-size: 30px;
  color: #000000;
}
.h {
  background-color: #ffff99;
  margin: 0px;
  text-align: center;
}
.in {
  background-color: #ffd300;
  margin: 0px;
}
img {
  object-fit: cover;
}
.pw {
  text-align: center;
  font-weight: 900;
}
.input {
  margin: 1rem 0px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 0.3rem;
  display: block;
  width: 100%;
}
.button {
  margin: 1rem 0px;
  border: none;
  padding: 1rem;
  background-color: black;
  display: inline-block;
  color: white;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(35, 192, 56);
  color: rgb(22, 14, 14);
}
.contact-drop {
  font-style: italic;
  text-align: center;
  margin: 0px;
  padding: 20px;
}
.con {
  padding: 0px 150px;
  margin: 0px;
}
